.palka {
  border: none; /* Убираем границу */
  background-color: #262A4F; /* Цвет линии */
  color: #262A4F; /* Цвет линии для IE6-7 */
 }
.item__button1 {
  font-family: Pattaya;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 100px;
  min-height: 33px;
  background: #262A4F;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
}