.Button2 {
  font-family: Pattaya;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.0125em;
  text-align: left;
  color: #f4f4f4;
  width: 120px;
  min-height: 40px;
  background: #262A4F;
  text-align: center;
  transition: all linear 200ms;
  position: relative;
}